@mixin font ($size, $height: $size, $weight:normal, $style: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    font-style: $style;
}


@mixin media-laptop {
    @media (max-width: 1435px) { @content;}
}

// @mixin media-tablet {
//     @media (max-width: 992px) { @content;}
// }


@mixin media-mobile {
    @media (max-width: 500px) { @content;}
}





























