.footer {
    margin-top: -50px;
    position: relative;
    z-index: 1;

}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    gap: 25px;
}

.instagram-link {
    display: block;
    &:hover {
        .instagram-icon {
            background: url(../../assets/img/icons/instagram-hover.svg);
        }
    }
}

.youtube-link {
    display: block;
    &:hover {
        .youtube-icon {
            background: url(../../assets/img/icons/youtube-hover.svg);
        }
    }
}

.twitter-link {
    display: block;
    &:hover {
        .twitter-icon {
            background: url(../../assets/img/icons/twitter-hover.svg);
        }
    }
}

.rs-school-icon {
    display: block;
    background: url(../../assets/img/icons/rsschool-logo.svg);
    width: 90px;
    height: 32px;
    @extend %transition;
}

.instagram-icon {
    display: block;
    background: url(../../assets/img/icons/instagram.svg);
    width: 32px;
    height: 32px;
    @extend %transition;
}

.youtube-icon {
    display: block;
    background: url(../../assets/img/icons/youtube.svg);
    width: 35px;
    height: 34px;
    @extend %transition;
}

.twitter-icon {
    display: block;
    background: url(../../assets/img/icons/twitter.svg);
    width: 33px;
    height: 27px;
    @extend %transition;
}

.rs-school-icon {
    display: block;
    background: url(../../assets/img/icons/rsschool-logo.svg);
    width: 92px;
    height: 34px;
    @extend %transition;
}















