.logo {
    display: flex;
    flex-direction: row;
    gap: 6px;
    cursor: pointer;
    user-select: none;

    &:hover {
        .logo__text {
            color: $color-additional;
        }
        .logo__icon {
            background: url(/assets/img/icons/logo-green.svg);
        }
    }
    
}

.logo__icon {
    background: url(/assets/img/icons/logo.svg);
    width: 30px;
    height: 30px;
    @extend %transition;
}

.logo__text {
    @extend %font-add;
    @include font($size: 3.2rem, $height: 3.9rem);
    color: $color-light;
    user-select: none;
    @extend %transition;
 
}



