.login-popup {
    position: absolute;
    left: calc(50% - 325px);
    top: -810px;
    width: 650px;
    height: 660px;
    border-radius: 16px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
    padding: 25px 45px 23px;
    transition: all 0.75s;
    z-index: 5;

}

.login-popup-active {
    top: 150px;

}

.login-popup__title {
    @extend %font-add;
    @include font ($size: 3.2rem, $height: 3.84rem, $weight: bold);
    text-align: center;
    color: $color-additional;
    margin-bottom: 30px;
}

.button-popup {
    height: 56px;
    width: 560px;
    border-radius: 10px;
    border: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.button-fb {
    background-color: #1877F2;
    color: $color-light;
    @extend %font-primary;
    @include font ($size: 2.0rem, $height: 2.65rem );
    margin-bottom: 20px;
}

.button-google {
    background-color: $color-light;
    color: #0D606F;
    @extend %font-primary;
    @include font ($size: 2.0rem, $height: 2.65rem, $weight:300);
    margin-bottom: 30px;

}

.or {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-bottom: 10px
}

.or-text {
    @extend %font-add;
    @include font ($size: 2.0rem, $height: 2.4rem );
    color: #0D606F80;
}

.line-or {
    height: 2px;
    background-color: #0D606F80;
    width: 260px;
    opacity: 0.5;
}

// .form {

// }

.form-title {
    @extend %font-add;
    @include font ($size: 1.6rem, $height: 1.92rem );
    color: $color-additional;
    display: block;
    margin-bottom: 5px;
}

.input-popup {
    width: 560px;
    height: 54px;
    border-radius: 10px;
    border: none;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
    outline: none;
    padding: 10px 20px;
    display: block;
    margin-bottom: 25px;
    @include font ($size: 1.6rem, $height: 2.0rem );
    color: $color-additional;

    &:focus {
    border: 1px solid $color-additional;
    box-shadow: none;
    }

    &:focus-visible {
    outline: 0px solid $color-additional;
    box-shadow: none;
    }

}

.button-sign-in {
    width: 560px;
    height: 54px;
    border-radius: 10px;
    background: #0D606F;
    color: $color-light;
    border: none;
    @extend %font-primary;
    @include font ($size: 2.0rem, $height: 2.65rem );
}

.password-forgot {
    margin-top: 10px;
    text-align: center;
    color: #0D606F;
    @extend %font-add2;
    @include font ($size: 1.5rem, $height: 1.8rem, $weight: 700 );
    text-decoration: underline;
}


.popup-line {
    width: 560px;
    height: 2px;
    background-color: #0D606F80;
    margin-top: 26px;
    opacity: 0.5;
}

.register-block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.have-account {
    @extend %font-add2;
    @include font ($size: 1.5rem, $height: 1.8rem, $weight: 700 );
    color: #0D606F;
    opacity: 0.5;

}

.register {
    @extend %font-add2;
    @include font ($size: 1.5rem, $height: 1.8rem, $weight: 700 );
    opacity: 1.0;
    color: #0D606F;
    text-decoration: underline;
}














