.destinations {
    padding: 0 0 80px;
    overflow: hidden;
    @include media-mobile {
        padding: 0 0 20px;
    }
}


.destinations__title {
    text-align: center;
    margin-bottom: 46px;

    @include media-laptop {
        margin-bottom: 38px;
    }

    @include media-tablet {
        margin-bottom: 30px;
    }


    @include media-mobile {
        margin-bottom: 20px;
    }
}

.slider {
    display: flex;
    justify-content: center;
    gap: 60px;

    @include media-dekstop {
        gap: 45px;
    }

    @include media-laptop {
        gap: 30px;
    }

    @include media-mobile {
        display: none;
    }
}

.slider__item {
    position: relative;

}

.slider__item-img {
    border-radius: 16px;
    @include media-dekstop {
        width: 700px;
        height: 700px;
    }
    @include media-laptop {
        width: 550px;
        height: 550px;
    }
    @include media-tablet {
        width: 400px;
        height: 400px;
    }
}

.slider__item-text {
    @include font($size: 3.2rem, $height: 4.2rem, $weight:normal);
    position: absolute;
    left: 15px;
    bottom: 45px;
    @include media-laptop {
        @include font($size: 2.5rem, $weight:normal);
    }
    @include media-tablet {
        @include font($size: 2.0rem, $weight:normal);
    }


}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    @include media-mobile {
        display: none;
    }
}

.slider-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $color-non-active;

    &-active {
        background: $color-primary;
    }
}

.destinations-button {
    display: flex;
    justify-content: center;
    margin: 40px 0 0px;
    @include media-mobile {
        margin: 5px 0 0px;
    }
}


.slider-mobile {
    display: none;
    @include media-mobile {
        display: block;
        position: relative;
    }
}

.slider-mobile__item-img {
    border-radius: 16px;
}

.slider-mobile__item-text {
    position: absolute;
    top: 8px;
    left: 15px;
    @include font($size: 2.0rem, $height: 2.65rem, $weight:normal);
}

.slider-mobile-arrow-right {
    position: absolute;
    background-image: url(/travel/assets/img/icons/slider-arrow-mobile.svg);
    width: 15px;
    height: 26px;
    top: 93px;
    right: 11px;
}

.slider-mobile-arrow-left {
    position: absolute;
    background-image: url(/travel/assets/img/icons/slider-arrow-mobile.svg);
    width: 15px;
    height: 26px;
    transform: rotate(-180deg);
    top: 93px;
    left: 11px;
}

.slider-mobile-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 17px;
    display: flex;
    justify-content: center;
    gap: 6px;


}

.slider-mobile-button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color-non-active;

    &-active {
        background: $color-primary;
    }
}











