.navigation {
    display: flex;
    gap: 42px;

    @include media-mobile {
        display: none;
    }

}

.navigation__link > a {
    color:$color-light;
    @extend %transition;
    user-select: none;

    &:hover {
        color: $color-additional;
    }
}




