.stories__title {
    text-align: center;
    margin-bottom: 40px;
    @include media-mobile {
        margin-bottom: 10px;
    }
}

.stories__background {
    background-image: url(../../assets/img/background/background-2.jpg);
    width: 100%;
    height: 1331px;
    @include media-dekstop {
        background-image: url(../../assets/img/background/background-2.jpg);
        width: 100%;
        height: 1195px;
    }

    @include media-laptop {
        background-image: url(../../assets/img/background/background-2.jpg);
        width: 100%;
        height: 960px;
    }

    @include media-tablet {
        background-image: url(../../assets/img/background/background-2.jpg);
        width: 100%;
        height: 870px;
    }



    @include media-mobile {
        background-image: url(../../assets/img/background/background-2-mobile.jpg);
        height: 693px;
    }
}


.stories__wrapper {
    background: rgba(255, 255, 255, 0.7);
    height: 1270px;
    padding-top: 40px;
    padding-bottom: 41px;
    position: relative;
    width: 100%;

    @include media-dekstop {
        padding-top: 25px;
        height: 1135px;
    }

    @include media-laptop {
        padding-top: 20px;
        height: 890px;
    }

    @include media-tablet {
        padding-top: 15px;
        height: 810px;
    }


    @include media-mobile {
        padding-top: 10px;
        height: 641px;
    }

}

.stories-articles {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media-mobile {
        gap: 15px;
    }
}

.article {
    display: flex;
    gap: 40px;

    @include media-laptop {
        gap: 30px;
    }
    @include media-tablet {
        gap: 20px;
    }
    @include media-mobile {
        gap: 10px;
    }
}

.article__image img {
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;

}

.article-info {
    @include media-mobile {
        margin-top: 5px;
    }
}

.article-info__title {
    margin-bottom: 24px;

    @include media-dekstop {
        margin-bottom: 20px;
    }

    @include media-laptop {
        margin-bottom: 16px;
    }

    @include media-tablet {
        margin-bottom: 14px;
    }

    @include media-mobile {
        margin-bottom: 10px;
    }
}

.article-info__text {
    overflow: hidden;
    @extend %font-add;
    @include font ($size: 2.0rem, $height: 2.4rem);
    color: $color-additional;
    @include media-dekstop {
        @include font ($size: 1.5rem, $height: 1.7rem);
    }
    @include media-laptop {
        @include font ($size: 1.3rem);
    }

    @include media-tablet {
        @include font ($size: 1.1rem);
    }
    @include media-tablet {
        @include font ($size: 0.9rem, $height: 1.08rem);
        max-height: 86px;
    }

}

.read-more {
    @extend %font-add;
    @include font ($size: 2.0rem, $height: 2.4rem, $weight:bold);
    color: $color-additional;
    text-decoration: underline;
    cursor: pointer;
    @include media-dekstop {
        @include font ($size: 1.5rem, $height: 1.7rem, $weight:bold);
    }
    @include media-laptop {
        @include font ($size: 1.3rem, $weight:bold);
    }

    @include media-tablet {
        @include font ($size: 1.1rem, $weight:bold);
    }
    @include media-mobile {
        @include font ($size: 0.9rem, $height: 1.08rem, $weight:bold);
    }
}

.stories-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    @include media-mobile {
        margin-top: 10px;
    }
}

























